html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.button{
    padding: 20px;
    width: 66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}
.row{
    margin: 8px 0;
}
.row input{
    width: 291px;
    font-size: 19px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.text-center{
    text-align: center;
}
h1{
    color: white;
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
} 
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.y{
    background-color: rgb(199, 199, 41);
    border: 2px solid white;
}
.b{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.box{
    border: 4px solid black;
    margin: 31px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 18px;
    background-color: rgb(66, 59, 59);
}